In [2]:

import pandas as pd
import json
from modules.parsers.parse_controlflow import *
from sql_parser.main import main

with open('output-data/nodes/metadata_nodes_Package 1.json', 'r') as json_file:
#with open('output-data/nodes/metadata_nodes_Demo_SSIS.json', 'r') as json_file: # columns data
    control_flow = json.load(json_file)

"""
for node in control_flow.keys():
    if control_flow[node]['Description'] == 'Execute SQL Task':

        #print(control_flow[node]['SQL_state'])
        #print(control_flow[node]['Variables'])

        try:

            #print(control_flow[node]['Result_variable'])
        except KeyError:
            pass

        #print('##############################')
        #print()

        """


def executesql_parser(control_flow, nodes, lineages, variable_tables, node_name, foreach):
    """
    Function that extracts data from SQL queries and returns them
    """
    

    try: # try if it is part of for each loop
        for i in control_flow[node_name]['SQL']:
            variables = flatten_if_nested(control_flow[node_name]['SQL'][i]['Variables'])#[0]     
    except:
        try:
            variables = flatten_if_nested(control_flow[node_name]['Variables'])
        except:
            pass
        pass

    try: # try if it is part of for each loop
        for i in control_flow[node_name]['SQL']:
            sql_statement = control_flow[node_name]['SQL'][i]['SQL_state'] 
            previous_node_name = node_name
            node_name = i
    except:
        sql_statement = control_flow[node_name]['SQL_state'] 

    # if the sql statement contains a variable, change the ? with the variable name
    if '?' in sql_statement: 
        sql_statement = replace_variables(sql_statement, variables)

    else:
        try:
            # if the sql statement contains a variable, change the indeces with the variable name

            for variable in variables:
                
                for i, char in enumerate(sql_statement.replace(" ", "")): #!!!!!!!!!!!!! ADD MORE CONDITIONS
                    if char == variable[1]:# and ((sql_statement[i+1] == ')') and (sql_statement[i-1] == ',')) or ((sql_statement[i+1] == ',') and (sql_statement[i-1] == '('))  or ((sql_statement[i+1] == ',') and (sql_statement[i-1] == ')')):

                        sql_statement = sql_statement.replace(char, f"'{variable[0]}'") # + '?' + sql_statements[i + 1:]

            sql_statement = replace_variables(sql_statement, variables) 

        except:
            pass


    try:
        result_set = control_flow[node_name]['Result_variable']
        print(result_set)
        print()
    except:
        result_set = None


    print(node_name)
    print(sql_statement)
    print()

    nodes, lineages, _ = main(sql_statement, result_set, nodes, lineages, variable_tables, node_name)

    for i in nodes:
        pass
        #print(i)
    #print()
    for i in lineages:
        pass
        #print(i)
    print('----------------')
    print() 

    return nodes, lineages


for node in control_flow.keys():
    nodes = []
    lineages = []
    variable_tables = {}
    if control_flow[node]['Description'] == 'Execute SQL Task':

        nodes = []
        lineages = []

        n, l = executesql_parser(control_flow, nodes, lineages, variable_tables, node, False)

Package\FTP_unvipot
Update [staging].[FTP_Unpivot]
set [Dirty Price] = 0
where
(
	Level_4 = 'Fixed Rate Mortgages'
	and Forward_Starting = 'FS'
	and [Funding Component] in ('Basefundinginterest', 'Principal', 'Total Value')
	and market_shock not in ('Book Value', 'Face Amount', 'Net WAC', 'WAL_0')
)
or
(
	instrument_set = 'Mortgage Proposal'
	and [Funding Component] in ('Basefundinginterest', 'Principal', 'Total Value')
	and market_shock not in ('Book Value', 'Face Amount', 'Net WAC', 'WAL_0')
)
And
(
	Portfolio like '%OBV' or Portfolio like '%ABB'
);


UPDATE [staging].[FTP_Unpivot]
SET [Dirty Price] = 0
WHERE
(
		Level_4 = 'Fixed Rate Mortgages'
		AND instrumnet_set IN (
			'mortgage'
			,'offset mortgage'
			)
		AND external_counterparty_segment = 'households'
		AND (
			market_shock LIKE '%SOT'
			OR market_shock LIKE '%EVEatR'
			)
		)

	OR (
		Level_4 = 'Fixed Rate Mortgage Savings'
		AND instrument_set = 'mortgage savings'
		AND (
			market_shock LIKE '%SOT'
			OR market_shock LIKE '%EVEatR'
			)
		)
	AND (
		Portfolio LIKE '%OBV'
		OR Portfolio LIKE '%ABB'
		);

----------------

Package\Delete_discount_factors
SELECT COUNT(*)
FROM [dbo].[REP_Discount_Factors]
WHERE [Market] = '12/31/2021';
WHILE 1=1
	BEGIN
		DELETE TOP(100000)
		FROM [dbo].[REP_Discount_Factors]
		WHERE [Market] = '12/31/2021' IF @@ROWCOUNT = 0 BREAK
	END
GO;

----------------

Package\del_master_gap
SELECT COUNT(*)
FROM [dbo].[REP_Master_GAP]
WHERE Entity = CASE WHEN 'TRG' ='BWF' THEN 'BPD' ELSE 'TRG' END AND Source ='QRM'  AND Market_as_of_date = '3/31/2016';
WHILE 1=1
	BEGIN
		DELETE TOP(100000)
		FROM [dbo].[REP_Master_GAP]
		WHERE Entity = CASE WHEN 'TRG' ='BWF' THEN 'BPD' ELSE 'TRG' END AND Source ='QRM'  AND Market_as_of_date = '3/31/2016' IF @@ROWCOUNT = 0 BREAK
	END
GO;

----------------

User::Run_time_descip

Package\select_res
DECLARE @PortfolioCurrent varchar(255)	=	'User::Port_current';
DECLARE @Market date			=	'User::Market_date';
DECLARE @LikeMatchGap varchar(255)	=	'User::Matchgap';
DECLARE @CompanyName varchar(255)	=	'User::Comp_Name';

SELECT convert(INT,forecastid) as forcastid FROM QRM.Run_Time_Description WHERE
 1=1
 AND Portfolio = @PortfolioCurrent
 AND Convert(Date,Market) = Convert(Date,@Market)
 AND Strategy like @LikeMatchGap
 AND CompanyName = @CompanyName
 AND DateTimeStamp = (select max(DateTimeStamp) FROM [QRM].[Run_Time_Description] where CompanyName = @CompanyName AND Portfolio = @PortfolioCurrent);

DECLARE @PortfolioCurrent varchar(255)	=	'5/31/2024';
DECLARE @Entity varchar(10)	=	'OBV';
DECLARE @DataSetEmpty bit = 0;

IF NOT EXISTS (
	SELECT 1
	FROM exp.MDSStoBETValuationResult
	WHERE Entity = @Entity
	and CONVERT(date, PortfolioAsOfDate) = CONVERT(date, @PortfolioCurrent)
)
SET @DataSetEmpty = 1;

----------------

User::RecordCount

Package\RecordCount
Select		FBA_CNT+
		FSH_CNT+
		FUP_CNT As RecordCount from


(Select count(*) as FBA_CNT from [staging].[FTP_Base])FBA join
(Select count(*) as FSH_CNT from [staging].[FTP_Shocks])FSH on 1=1 join
(Select count(*) as FUP_CNT from [staging].[FTP_Unpivot])FUP on 1=1;


truncate table [staging].[FTP_Base];
truncate table [staging].[FTP_Shocks];
truncate table [staging].[FTP_Unpivot];

----------------

User::New_table_long

Package\Long_title
DECLARE @Product AS CHAR(3)	= 'User::Product';
DECLARE @Period AS VARCHAR(6)	= 'User::Period';
DECLARE @FileID AS SMALLINT	= 'User::FileID';

SELECT
			PF.Import_Table
,			PF.Input_Location
,			PF.Import_error_table
,			PF.Mastertable_Tabel_Field
,			PF.Imported_Location
,			PF.Mail_Group
,			FS.[File_Name]
,			PP1.Parameter_Value
,			PP2.Parameter_Value AS Reporting_Database
,			PP3.Parameter_Value AS Reporting_Server
FROM		dbo.tbl_Product PR
INNER JOIN	dbo.tbl_Product_file PF
ON			PR.Product_id = PF.Product_id
AND			PR.Period = PF.Period
LEFT JOIN	dbo.tbl_File_State FS
ON			PF.Product_id = FS.Product_id
AND			PF.Period = FS.Period
AND			PF.[File_id] = FS.[File_id]
INNER JOIN	dbo.tbl_Product_parameter PP1
ON			PF.Product_id = PP1.Product_id
AND			PF.Period = PP1.Period
INNER JOIN	dbo.tbl_Product_parameter PP2
ON			PP2.Product_id = 'GEN' AND PF.Period = PP2.Period
INNER JOIN	dbo.tbl_Product_parameter PP3
ON			PP3.Product_id = 'GEN' AND PF.Period = PP3.Period
AND			PF.Period = PP1.Period
WHERE		PP1.Action_Take = 'Portdate'
AND			PP2.Action_Take = 'ReportingDatabase'
AND			PP3.Action_Take = 'ReportingServer'
AND			PR.Product_id = @Product
AND			PR.Period = @Period
AND			PF.[File_id] = @FileID;


----------------

User::Rec_cnt

Package\rec_count
Select PLN.PLN_CNT+RTD.RTD_CNT+ACD.ACD_CNT+FOP.FOP_CNT+GAP.GAP_CNT from
(Select count(*) as PLN_CNT from [staging].[PlanningDimentsions])PLN join
(Select count(*) as RTD_CNT from [staging].[Run_Time_Description])RTD on 1=1 join
(Select count(*) as ACD_CNT from [staging].[Account_Dimension])ACD on 1=1 join
(Select count(*) as FOP_CNT from [staging].[Forecast_Periods])FOP on 1=1 join
(Select count(*) as GAP_CNT from [staging].[GAP])GAP on 1=1 ;

truncate table [staging].[PlanningDimentsions];
truncate table [staging].[Run_Time_Description];
truncate table [staging].[Account_Dimension];
truncate table [staging].[Forecast_Periods];
truncate table [staging].[GAP];

----------------

Package\Update_GAP
Update gap
set
 gap.[Intercompany_segment] = ISNULL(cp.[Intercompany_segment], 'LKP_error')
FROM [staging].[GAP] gap
Left Join [cfg].[LKP_Counterparty] cp
on
 cp.[Intercompany_Legal_Entity] = gap.Intercompany_Legal_Entity
 and cp.[Intercompany_Counterparty] = gap.[Intercompany_Counterparty];

{'SOURCE_COLUMNS': 'cfg.LKP_Counterparty[Intercompany_segment]', 'TARGET_COLUMN': 'query_Package\\Update_GAP_1[Intercompany_segment]', 'TRANSFORMATION': ''}
{'SOURCE_COLUMNS': 'query_Package\\Update_GAP_1[Intercompany_segment]', 'TARGET_COLUMN': 'staging.GAP[Intercompany_segment]', 'TRANSFORMATION': "ISNULL(cfg.LKP_Counterparty.Intercompany_segment, 'LKP_error')"}
----------------

Package\GAP_DCF
Update staging.GAP_DCF_Intermediate
set [ValueResult]=0, [ValueCorrected]=0
where
((
	Level_04 = 'Fixed Rate Mortgages'
	and Forward_Starting = 'FS'
	and [Funding_Component_Mapping_ID] in ('Base funding interest', 'Principal', 'Total Value')
)
or
(
	instrument_set = 'Mortgage Proposal'
	and [Funding_Component_Mapping_ID] in ('Base funding interest', 'Principal', 'Total Value')
))
And
(
	Entity in ('OBV','ABB')
);

----------------

User::Table_joins

Package\Long_tab2
DECLARE @Product AS CHAR(3)	= 'User::Product';
DECLARE @Period AS VARCHAR(6)	= 'User::Period';
DECLARE @FileID AS INT		= 'User::FileID';

SELECT
			PF.Import_Table
,			PF.Input_Location
,			PF.Import_error_table
,			PF.Mastertable_Tabel_Field
,			PF.Imported_Location
,			ISNULL(PF.Mail_Group, '') Mail_Group
,			FS.[File_Name]
,			PP1.Parameter_Value
,			PP2.Parameter_Value AS Reporting_Database
,			PP3.Parameter_Value AS Reporting_Server
FROM		dbo.tbl_Product PR
INNER JOIN	dbo.tbl_Product_file PF
ON			PR.Product_id = PF.Product_id
AND			PR.Period = PF.Period
LEFT JOIN	dbo.tbl_File_State FS
ON			PF.Product_id = FS.Product_id
AND			PF.Period = FS.Period
AND			PF.[File_id] = FS.[File_id]
INNER JOIN	dbo.tbl_Product_parameter PP1
ON			PF.Product_id = PP1.Product_id
AND			PF.Period = PP1.Period
INNER JOIN	dbo.tbl_Product_parameter PP2
ON			PP2.Product_id = 'GEN' AND PF.Period = PP2.Period
INNER JOIN	dbo.tbl_Product_parameter PP3
ON			PP3.Product_id = 'GEN' AND PF.Period = PP3.Period
WHERE		PP1.Action_Take = 'Portdate'
AND			PR.Product_id = @Product
AND			PR.Period = @Period
AND			PF.[File_id] = @FileID
AND			PP2.Action_Take = 'ReportingDatabase'
AND			PP3.Action_Take = 'ReportingServer';

----------------

In [10]:
import pandas as pd

df = pd.read_csv('output-data/lineages/lineage-Package 1_cf.csv')
df

,SOURCE_COLUMNS,TARGET_COLUMN,TRANSFORMATION,SOURCE_FIELD,TARGET_FIELD,SOURCE_NODE,TARGET_NODE,LINK_VALUE,ROW_ID,COLOR
0,query_Package\FTP_unvipot_1[value: 0],staging.FTP_Unpivot[Dirty_space_Price],NaN,value: 0,Dirty_space_Price,1,0,1,0,aliceblue
1,query_Package\FTP_unvipot_2[value: 0],staging.FTP_Unpivot[Dirty_space_Price],NaN,value: 0,Dirty_space_Price,3,0,1,1,aliceblue
2,dbo.REP_Discount_Factors[DEL],query_Package\Delete_discount_factors_2[DEL],NaN,DEL,DEL,4,5,1,0,aliceblue
3,dbo.REP_Master_GAP[DEL],query_Package\del_master_gap_2[DEL],NaN,DEL,DEL,6,7,1,0,aliceblue
4,QRM.Run_Time_Description[MAX(QRM.Run_Time_Desc...,subquery_1_Package\select_res[MAX(QRM.Run_Time...,NaN,MAX(QRM.Run_Time_Description.DateTimeStamp),MAX(QRM.Run_Time_Description.DateTimeStamp),13,12,1,0,aliceblue
...,...,...,...,...,...,...,...,...,...,...
72,query_User::Table_joins[dbo.tbl_Product_parame...,User::Table_joins[Reporting_Database],dbo.tbl_Product_parameter.Parameter_Value AS R...,dbo.tbl_Product_parameter.Parameter_Value,Reporting_Database,70,71,1,15,#ff6961
73,query_User::Table_joins[dbo.tbl_Product_parame...,User::Table_joins[Reporting_Server],dbo.tbl_Product_parameter.Parameter_Value AS R...,dbo.tbl_Product_parameter.Parameter_Value,Reporting_Server,70,71,1,16,#ff6961
74,User::FileID[User::FileID],query_User::Table_joins[User::FileID],NaN,User::FileID,User::FileID,34,70,1,17,aliceblue
75,User::Period[User::Period],query_User::Table_joins[User::Period],NaN,User::Period,User::Period,33,70,1,18,aliceblue
76,User::Product[User::Product],query_User::Table_joins[User::Product],NaN,User::Product,User::Product,32,70,1,19,aliceblue